@(user:controllers.User)
<div class="container-fluid">
    <form>
        <br>
    <div class=" row ">
        <label > Enter Name : </label>
        <input class= "col-md-6" type="text" name="name">

    </div>
<br>
        <div class=" row ">
            <label > Enter Age : </label>
            <input  type="text" name="age">

        </div>
        <br>
        <div class=" row text-center">
            <button type="button" onclick="Submit">Login</button>
        </div>
    </form>
    </div>